body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  @font-face {
    font-family: Open Sans;
    src: local("Open Sans"),
      url("../fonts/OpenSans-Regular.woff"),
      url("../fonts/OpenSans-Regular.woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: Open Sans;
    src: local(Open Sans),
      url("../fonts/OpenSans-Bold.woff"),
      url("../fonts/OpenSans-Bold.woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  a {
    text-decoration: none;
  }

  .popup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
  }

  ._hidden {
   display: none;
  }

  .popup-content {
    font-family: Open Sans;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 390px;
    background-color: #fff;
    position: fixed;
    padding: 53px 30px;
  }

  .popup-close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -30px;
    right: 0;
    background-image: url("../svg/form-x.svg");
    background-color: transparent;
    padding: 0;
    border: 0;
    cursor: pointer;
  }


  .header-popup {
    font-family: Open Sans;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 25px;
  }
  
  .header-popup::after {
    content: "";
    width: 66px;
    height: 3px;
    background-color: #b59f5b;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-top: 12px;
  }
  
  .question {
    font-family: Open Sans;
    display: block;
    padding-bottom: 9px;
    font-size: 13px;
  }
  
  .frequency-area {
    position: relative;
  }

  .frequency-area::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 20px;
    background-image: url("../svg/form-arrows.svg");
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 40px;
    right: 15px;
  }

  .choose-option {
    font-family: Open Sans;
    width: 100%;
    height: 47px;
    background-color: #f4f7f6;
    border: none;
    margin-bottom: 25px;
    padding-left: 19px;
    color: #707171;
    font-size: 13px;
    appearance: none;
    cursor: pointer;
  }
  
  .email-area {
    margin-bottom: 25px;
  }
  
  .choose {
    position: relative;
    font-size: 13px;
    margin-right: 17px;
  }
  
  .radio-check {
    appearance: none;
    padding-left: 20px;
  }
  
  .radio-text::before {
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    background-image: url("../svg/form-empty-circle.svg");
    top: 0;
    left: 0;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .radio-check:checked ~ .radio-text::before {
    background-image: url("../svg/form-circle.svg");
  }
  
  .text-area {
    font-family: Open Sans;
    resize: none;
    width: 330px;
    height: 130px;
    background-color: #f4f7f6;
    border: none;
    padding-left: 19px;
    padding-top: 19px;
    color: #707171;
    font-size: 13px;
  }
  
  .popup-button {
    font-family: Open Sans;
    text-align: center;
    margin-top: 24px;
    width: 100%;
    height: 48px;
    border: none;
    color: #fff;
    background-color: #b59f5b;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
  }

  .header {
    width: auto;
    padding: 30px 0 100px;
    background-image: url("../images/banner-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    z-index: 0;
  }
  
  .header::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    z-index: -1;
    background-color: #000000;
  }

  .header-container {
    box-sizing: border-box;
    max-width: 1200px;
    padding: 0 15px;
    margin: auto;
  }
  
  .header-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-logo {
    box-sizing: border-box;
    width: 180px;
  }

  .burger {
    display: none;
  }

  .navigation-menu {
    margin: 0;
    box-sizing: border-box;
  }
  
  .menu-list {
    display: flex;
    font-size: 13px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-family: Open Sans;
    list-style-type: none;
  }
  
  .menu-list-item:nth-child(n + 2) {
    margin-left: 35px;
  }
  
  .menu-link {
    text-decoration: none;
    color: inherit;
  }
  
  .menu-link:hover {
    text-decoration: underline;
  }
  
  .header-title {
    max-width: 690px;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    font-size: 45px;
    line-height: 1.66;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: Open Sans;
    text-align: center;
  }
  

  .article-trends {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .article-trends-title {
    text-align: center;
    font-size: 20px;
    line-height: 29px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
    font-family: "Open Sans";
    margin:  54px 0 21px;
  }

  .article-trends-title::after {
    content: "";
    display: flex;
    width: 66px;
    height: 3px;
    background-color: #b59f5b;
    opacity: 0.5;
    margin: 12px auto 0;
  }

  .trend-cards {
    display: flex;
    gap: 5px;
    
    
  }

  .trend-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 17px 19px;
    width: 25%;
    min-height: 316px;
    box-sizing: border-box;
    position: relative;
    z-index: 0;
  }

  .trend-container::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    z-index: -1;
    background-color: #000000;
  }

  .trend-post-1 {
    background-image: url(../images/trend1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #707171;
    
  }

  .trend-post-2 {
    background-image: url(../images/trend2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #707171;
  }

  .trend-post-3 {
    background-image: url(../images/trend3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #707171;
  }

  .trend-post-4 {
    background-image: url(../images/trend4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #707171;

  }

  .trend-info {
    border: solid #847b3e 3px;
    padding: 31px 35px;

}

  .trend-list {
    margin: 0 0 10px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;

  }

  .trend-list-item {
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    color: #b59f5b;
    font-weight: 700;
    font-family: "Open Sans";
    padding: 0;
    margin: 0;
    
  }

  .trend-list-item:nth-child(n+2) {
    margin-left: 20px;
  }

  .trend-list-item:hover { 
    font-size: 14px;
    text-decoration: underline;
    text-transform: uppercase;
    color: #b59f5b;
    font-weight: 700;
    font-family: "Open Sans";
  }



  .trend-list-item-link, .trend-title-link {
    text-decoration: none;
    color: inherit;
  }

  .trend-title {
    display: block;
    margin: 0;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans";
  }

  .trend-title:hover {
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #b59f5b;
    font-weight: 700;
    font-family: "Open Sans";
  }

  .content {
    margin: 0 auto;
    max-width: 1200px;
    box-sizing: border-box;
    padding: 60px 15px;
    display: flex;
    justify-content: space-between;
  }
  
  .posts-list {
    box-sizing: border-box;
    flex-grow: 1;
    max-width: 778px;
  }
  
  .article {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    font-family: Open Sans;
    margin-bottom: 65px;
  }
  
  .article:last-child {
    margin-bottom: 0;
  }
  
  .post-image {
    display: inline-block;
    box-sizing: border-box;
    width: 381px;
    background-color: #eff6f1;
  }
  
  .post-info {
    box-sizing: border-box;
    margin-left: 35px;
    width: 367px;
  }
  
  .post-list {
    margin: 0 0 6px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
  
  .post-list-item {
    font-size: 14px;
    text-transform: uppercase;
    color: #b59f5b;
    font-weight: 700;
    font-family: Open Sans;
    list-style-type: none;
  }
  
  .post-list-item:hover {
    font-size: 14px;
    text-decoration: underline;
    text-transform: uppercase;
    color: #b59f5b;
    font-weight: 700;
    font-family: Open Sans;
  }
  
  .post-list-item:nth-child(n + 2) {
    margin-left: 20px;
  }
  
  .post-list-link {
    text-decoration: none;
    color: inherit;
  }
  
  .post-title {
    display: block;
    margin: 0;
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
    font-family: Open Sans;
  }
  
  .post-title-link {
    text-decoration: none;
    color: inherit;
  }
  
  .post-title-link:hover {
    font-size: 20px;
    line-height: 1.2px;
    text-transform: uppercase;
    color: #b59f5b;
    font-weight: 700;
    font-family: Open Sans;
  }
  
  .date-author {
    display: flex;
    margin-top: 25px;
    margin-bottom: 0;
  }
  
  .post-date {
    display: block;
    margin-right: 13px;
    font-size: 12px;
    color: #888888;
    font-weight: 400;
    font-family: Open Sans;
  }
  
  .post-author {
    font-size: 12px;
    color: #000000;
    font-weight: 700;
    font-family: Open Sans;
  }
  
  .post-text {
    display: block;
    font-size: 15px;
    line-height: 1.46;
    color: #0f0d0e;
    font-weight: 400;
    font-family: Open Sans;
    margin-top: 45px;
  }
  
  .sidebar {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 272px;
    margin-top: 0;
    padding: 0;
  }
  
  .section {
    margin-bottom: 60px;
    margin-top: 0;
    padding-bottom: 0;
  }
  
  .sidebar-section-title {
    font-size: 14px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
    font-family: Open Sans;
    text-align: center;
    margin: 0;
  }
  
  .sidebar-section-title::after {
    content: "";
    display: flex;
    width: 66px;
    height: 3px;
    background-color: #b59f5b;
    opacity: 0.5;
    margin: 12px auto 0;
  }
  
  .article-latest-posts {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    width: 272px;
    margin-top: 22px;
  }
  
  .latest-posts-image {
    display: flex;
    box-sizing: border-box;
    width: 70px;
  }
  
  .latest-posts-header {
    display: border-box;
    width: 200px;
    margin-left: 20px;
  }
  
  .latest-posts-date {
    display: block;
    margin: 0;
    opacity: 0.541;
    font-size: 12px;
    color: #000000;
    font-weight: 400;
    font-family: Open Sans;
  }
  
  .caption-latest-posts {
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #000000;
    font-weight: 700;
    font-family: Open Sans;
    margin-bottom: 0;
    padding: 0;
    margin-top: 2px;
  }
  
  .latest-posts-title-link {
    text-decoration: none;
    color: inherit;
  }
  
  .latest-posts-title-link:hover {
    color: #b59f5b;
  }
  
  .search-box {
    width: 270px;
    height: 47px;
    margin: 60px 0 0;
  }
  
  .form-search {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .field-search {
    box-sizing: border-box;
    width: 225px;
    padding: 20px;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    height: 47px;
    background-color: #f4f7f6;
    font-size: 13px;
    color: #000000;
    font-weight: 400;
    font-family: Open Sans;
    border-style: none;
  }
  
  .search-button {
    box-sizing: border-box;
    width: 45px;
    height: 47px;
    border-style: none;
    background-color: #b59f5b;
    cursor: pointer;
    background-image: url("../svg/search.svg");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: left 13px center;
  }
  
  .visually-hidden {
    position: absolute;
    height: 1px;
    width: 1px;
    margin: -1;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .search-button:hover {
    background-color: #323232;
  }
  
  .search-button:focus {
    outline: none;
    border: 1px solid #b59f5b;
  }
  
  .subscribe-field {
    box-sizing: border-box;
    width: 270px;
    padding: 20px;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    height: 47px;
    background-color: #f4f7f6;
    font-size: 13px;
    color: #000000;
    font-weight: 400;
    font-family: Open Sans;
    border-style: none;
    margin-top: 22px;
  }
  .subscribe-field:focus {
    outline: none;
    border: 1px solid #b59f5b;
    background-color: #f4f7f6;
  }
  
  .subscribe-field:hover {
    background-color: #f4f7f6;
  }
  
  .subscribe-button {
    box-sizing: border-box;
    width: 270px;
    height: 47px;
    background-color: #b59f5b;
    border-style: none;
    cursor: pointer;
    margin-top: 16px;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans";
    text-align: center;
  }
  
  .subscribe-button:hover {
    background-color: #323232;
  }
  
  .tags-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-top: 20px;
    margin-bottom: 0;
  }
  
  .tags-list-item {
    list-style-type: none;
    display: list-item;
    margin-right: 3px;
    margin-top: 3px;
  }
  
  .tags-link {
    display: block;
    padding: 5px 11px;
    border: 3px solid #eeeeee;
    color: #0f0d0e;
    font-weight: 700;
    font-family: Open Sans;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .tags-link:hover {
    font-size: 12px;
    color: #0f0d0e;
    font-weight: 700;
    font-family: Open Sans;
    border: 3px solid #b59f5b;
  }
  
  .categores-list {
    display: block;
    padding: 0;
    margin: 10px 0 0;
    list-style-type: none;
  }
  
  .categores-list-item {
    border-bottom: 1px solid #eeeeee;
    display: list-item;
  }
  
  .categores-link {
    display: block;
    color: #000000;
    font-family: Open Sans;
    font-size: 14px;
    text-decoration: none;
    font-weight: 700;
    line-height: 3;
  }
  .categores-index {
    vertical-align: super;
    font-size: 12px;
    color: #b59f5b;
    font-weight: 700;
    font-family: Open Sans;
  }
  
  .categores-link:hover {
    color: #b59f5b;
  }

  .shop {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 38px 60px;
    display: flex;
    flex-direction: column;
  }

  .shop-title {
    text-align: center;
    font-size: 20px;
    line-height: 29px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
    font-family: "Open Sans";
    margin: 0;
  }

  .shop-title::after {
    content: "";
    display: flex;
    width: 66px;
    height: 3px;
    background-color: #b59f5b;
    opacity: 0.5;
    margin: 12px auto 0;
  }
  .product-cards {
    display: flex;
    justify-content: space-between;
  }

  .product-container {
    width: 33.33%;
    max-width: 300px;
    margin-top: 29px;
    display: flex;
    flex-direction: column;
  }

  .product-img {
    display: block;
    max-width: 100%;
    min-height: 205px;
    background-color: grey;
  }

  .product-info {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin: -35px -20px 0;
    padding: 16px 16px 0;
    max-width: 347px;
    min-height: 250px;
    background-color: rgba(0,0,0,0);
    border: 3px solid #b59f5b;
  }
  

  .product-title {
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
    font-family: "Open Sans";
  }

  .product-description {
    max-width: 301px;
    font-size: 15px;
    line-height: 22px;
    color: #0f0d0e;
    font-weight: 400;
    font-family: "Open Sans";
    margin-bottom: 27px;
  }

  .product-link {
    text-decoration: none;
    color: #b59f5b ;
  }

  .product-link:hover {
    font-size: 15px;
    line-height: 22px;
    text-decoration: underline;
    font-weight: 400;
    font-family: "Open Sans";
  }

  .about-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .old-price {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 18px;
    text-decoration: line-through;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
    font-family: "Open Sans";
  }

  .new-price {
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 18px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
    font-family: "Open Sans";
  }

  .to-store {
    width: 140px;
    height: 48px;
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans";
    background-color: #b59f5b;  
  }

  .to-store:hover {
    cursor: pointer;
  }

  .footer {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-wrapper {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  .footer-address {
    background-color: #f4f7f6;
  }
  
  .footer-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  .social-icon {
    display: block;
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: center;
    margin: 30px 13px;
  }
  
  .social-icon_dribble {
    background-image: url(../svg/001-dribbble.svg);
  }
  
  .social-icon_pinterest {
    background-image: url(../svg/001-pinterest.svg);
  }
  
  .social-icon_tumblr {
    background-image: url(../svg/003-tumblr.svg);
  }
  
  .hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .copyright {
    margin-top: 74px;
    margin-bottom: 45px;
    text-align: center;
    font-size: 12px;
    color: #999999;
    font-weight: 700;
    font-family: Open Sans;
  }
  
  .copyright-link {
    text-decoration: none;
    color: inherit;
  }

  @media (min-width: 641px) and (max-width: 1200px) and (orientation: portrait) {
    body { 
        max-width: 1200px;
    }    
    
    .burger {
        display: block;
        cursor: pointer;
    }

    .navigation-menu {
      display: none;
  }

    .header {
      background-image: url(../images/banner-bg-tablet.jpg);
      padding: 40px 0 85px;
    }

    .header-container {
        padding: 0 35px;
    }

    .header-logo {
      width: 160px;
    }


    .header-title {
      max-width: 650px;
      font-size: 40px;
      line-height: 55px;
      text-transform: uppercase;
      color: #ffffff;
      font-weight: 700;
      font-family: "Open Sans";
      text-align: center;
      margin-top: 90px;
    
    }

    .article-trends-title {
      font-size: 18px;
      line-height: 29px;
      margin-top: 40px;
      margin-bottom: 18px;
    }

    .trend-cards {
      flex-wrap: wrap;
      max-width: 100%;
      gap: 2px;
    }
  
    .trend-container {
      width: calc(50% - 2px);
      min-height: 245px;
    }

    .trend-info {
      padding: 28px 30px;
    }

    .trend-title {
      font-size: 17px;
      line-height: 22px;
    }

    .content {
        padding: 50px 35px 31px;
    }

    .posts-list {
        max-width: 56%;
    }

    .article {
        flex-direction: column;
        width: 100%;
        border-bottom: solid 4px #eeeeee;
        margin-bottom: 38px;
    }

    .date-author {
      margin-top: 28px;
    }

    .post-image {
        width: 100%;
    }

    .post-info {
        width: 100%;
        margin: 14px 0 0 0;

    }

    .product-info {
      min-height: 240px;
      padding: 16px 17px 0;
    }

    .shop {
      padding: 0 38px 33px;
    }

    .shop-title {
      font-size: 18px;
    }

    .product-description {
      max-width: 300px;
    }

    .post-title {
      font-size: 17px;
      line-height: 22px;
    }

    .post-text {
      margin-top: 35px;
    }

    .product-cards {
        flex-wrap: wrap;
        margin-left: 18px;
        margin-right: 18px;
    }

    .product-container {
        width: calc(50% - 35px);
        margin-top: 28px;
    }

    .product-title {
      font-size: 17px;
      line-height: 22px;
      margin-top: 33px;
    }

    .footer-wrapper {
        padding: 0 38px;
    }

    .copyright {
        margin: 50px 0 40px;
    }


  }

  @media (min-width: 641px) and (max-width: 1200px) and (orientation: landscape) {
    body { 
        max-width: 1200px;
    }    
    
    .burger {
        display: block;
        cursor: pointer;
    }

    .navigation-menu {
      display: none;
  }

    .header {
      background-image: url(../images/banner-bg-tablet.jpg);
      padding-bottom: 90px;
    }

    .header-container {
        padding: 0 35px;
    }


    .header-title {
      font-size: 40px;
      line-height: 55px;
      text-transform: uppercase;
      color: #ffffff;
      font-weight: 700;
      font-family: "Open Sans";
      text-align: center;
      margin-top: 80px;
    
    }

    .article-trends-title {
      font-size: 18px;
      line-height: 29px;
      margin-top: 40px;
      margin-bottom: 18px;
    }

    .trend-title {
      font-size: 17px;
      line-height: 22px;
    }

    .trend-info {
      padding: 15px;
    }

    .content {
        padding: 50px 35px;
    }

    .posts-list {
        max-width: 55%;
    }

    .article {
        flex-direction: column;
        width: 100%;
        border-bottom: solid 4px #eeeeee;
        margin-bottom: 40px;
    }

    .post-image {
        width: 100%;
    }

    .post-info {
        width: 100%;
        margin: 15px 0 0 0;

    }

    .post-title {
      font-size: 17px;
      line-height: 22px;
    }

    .post-text {
      margin-top: 35px;
    }

    .product-info {
      min-height: 240px;
      padding: 16px 17px 0;
    }

    .shop {
      padding: 0 38px 33px;
    }

    .shop-title {
      font-size: 18px;
    }

    .product-description {
      max-width: 300px;
    }

    .product-cards {
        flex-wrap: wrap;
        margin-left: 18px;
        margin-right: 18px;
    }

    .product-container {
        width: calc(50% - 65px);
        margin-top: 28px;
    }

    .product-title {
      font-size: 17px;
      line-height: 22px;
      margin-top: 33px;
    }

    .footer-wrapper {
        padding: 0 38px;
    }

    .copyright {
        margin: 50px 0 40px;
    }


  }

  

  @media (max-width: 640px) and (orientation: portrait) {
    body { 
      max-width: 640px;
  } 

  .header {
    padding: 0;
  }

  .header-container {
    padding: 30px 15px 175px;
  }
  
  .header-logo {
    width: 100%;
    padding: 200px 30px 0;
  }
  
  .header-navigation{
    flex-direction: column;
    width: 100%;
  } 

  .navigation-menu {
    display: none;
}
  
  .burger {
    display: block;
    cursor: pointer;
    order: -1;
    align-self: end;
  }

  .header-title {
    margin: 44px 0;
    width: 100%;
    font-size: 26px;
    line-height: 36px;
  }

  .header {
    background-image: url(../images/banner-mobile.jpg);
  }

  .article-trends-title {
    margin-top: 44px;
    margin-bottom: 24px;
    font-size: 16px;
  }

  .trend-cards {
    display: flex;
    flex-direction: column;

  }

  .trend-container {
    width: 100%;
    min-height: 233px;
  }

  .trend-title {
    font-size: 16px;
    line-height: 20px;
  }

  .content {
    flex-direction: column;
    padding: 44px 15px;

  }

  .article {
    flex-direction: column;
    border-bottom: solid 4px #eeeeee;
    margin-bottom: 40px;
  }

  .post-image {
    width: 100%;
  }

  .post-info {
    width: 100%;
    margin: 15px 0 0;
  }

  .post-title {
    font-size: 16px;
  }

  .post-text {
    margin-top: 20px;
    font-size: 14px;
  }


  .sidebar {
    margin-top: 43px;
    width: 100%;
  }

  .section {
    margin-bottom: 40px;
  }

  .sidebar-section-title {
    font-size: 14px;
  }

  .article-latest-posts {
    width: 100%;
  }

  .latest-posts-header {
    width: 100%
  }

  .subscribe-field {
    width: 100%;
  }

  .subscribe-button {
    width: 100%;
    padding: 15px 110px;
  }

  .shop {
    padding: 0 36px 43px;
  }

  .product-cards {
    flex-direction: column;
  }

  .product-container {
    width: 100%;
    max-width: 100%;
    align-items: center;
  }

  }

  @media (max-width: 640px) and (orientation: landscape) {
    body { 
      max-width: 640px;
  } 

  .header {
    padding: 0;
  }

  .header-container {
    padding: 30px 15px 175px;
  }
  
  .header-logo {
    width: 100%;
    padding: 200px 30px 0;
  }
  
  .header-navigation{
    flex-direction: column;
    width: 100%;
  } 

  .navigation-menu {
    display: none;
}
  
  .burger {
    display: block;
    cursor: pointer;
    order: -1;
    align-self: end;
  }

  .header-title {
    margin: 44px 0;
    width: 100%;
    font-size: 26px;
    line-height: 36px;
  }

  .header {
    background-image: url(../images/banner-mobile.jpg);
  }

  .article-trends-title {
    margin-top: 44px;
    margin-bottom: 24px;
    font-size: 16px;
  }

  .trend-cards {
    flex-wrap: wrap;
    max-width: 100%;
    gap: 2px;
  }

  .trend-container {
    width: calc(50% - 6px);
  }

  .trend-title {
    font-size: 16px;
    line-height: 20px;
  }

  .trend-info {
    padding: 20px;
  }

  .content {
    flex-direction: column;
    padding: 44px 15px;

  }

  .article {
    flex-direction: column;
    border-bottom: solid 4px #eeeeee;
    margin-bottom: 40px;
  }

  .post-image {
    width: 100%;
  }

  .post-info {
    width: 100%;
    margin: 15px 0 0;
  }

  .post-title {
    font-size: 16px;
  }

  .post-text {
    margin-top: 20px;
    font-size: 14px;
  }


  .sidebar {
    margin-top: 43px;
    width: 100%;
  }

  .section {
    margin-bottom: 40px;
  }

  .sidebar-section-title {
    font-size: 14px;
  }

  .article-latest-posts {
    width: 100%;
  }

  .latest-posts-header {
    width: 100%
  }

  .subscribe-field {
    width: 100%;
  }

  .subscribe-button {
    width: 100%;
    padding: 15px 110px;
  }

  .shop {
    padding: 0 36px 43px;
  }

  .product-cards {
    flex-direction: column;
  }

  .product-container {
    width: 100%;
    max-width: 100%;
    align-items: center;
  }

  }

 
  